.footer-open {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}


/* Our team */

.our-team-inner {
    border: 1px solid #F15922;
    border-radius: 5px;
}

.marketing-site-three-up {
    text-align: center;
    padding: 2rem 0;
    padding-top: 0px;
}

.marketing-site-three-up .row {
    max-width: 900px;
}

.marketing-site-three-up .columns {
    margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
    .marketing-site-three-up .columns {
        margin-bottom: 0;
        padding: 20px;
        min-height: 198px;
    }
}

.marketing-site-three-up .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #F15922;
}

.marketing-site-three-up-headline {
    margin-bottom: 2rem;
    font-size: 24px;
}


/* About Us */

.product-feature-section-feature>.fa {
    color: #F15922;
}

.product-feature-section {
    padding: 1rem;
}

.product-feature-section-outer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-feature-section-headline {
    margin-bottom: 2rem;
    text-align: center;
}

.product-feature-section-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-feature-section-feature {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1rem;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-feature-section-feature.top-left {
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

.product-feature-section-feature.top-right {
    border-bottom: 1px solid #cacaca;
}

.product-feature-section-feature.bottom-left {
    border-right: 1px solid #cacaca;
}

.product-feature-section-feature .feature-title {
    line-height: 16px;
}

.product-feature-section-feature .feature-desc {
    margin-bottom: 0;
}

.product-feature-section-feature .fa {
    margin-right: 1.25rem;
    font-size: 2rem;
    margin-top:-2.5px;
}

@media print,
screen and (min-width: 40em) {
    .product-feature-section-feature {
        padding: 2rem;
        -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}


/* All Styles */

.feature-title {
    display: inline;
}

.about-more {
    display: none!important;
}

#open-resume {
    color: #f15922;
}

.tp-mask-wrap a {
    color: #fff !important;
}

.tp-bannertimer.tp-bottom {
    background-color: #F15922;
}

.menu-icon {
    display: none !important;
}

.sticky-topbar {
    width: 100%;
}

#padding-top-mag {
    padding-top: inherit !important;
}

#padding-top-mag2 {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

[data-magellan] a {
    color: #333;
}

[data-magellan] a.active,
[data-magellan] a.active:focus {
    background: #F15922;
    color: #fff;
    font-weight: bold;
}

.topbar-responsive .menu a:hover {
    color: #F15922 !important;
}

.topbar-responsive {
    background: #2c3840;
    padding: 1rem 1.5rem !important;
}

.top-bar,
.top-bar ul {
    background-color: #000 !important;
}

.menu li a {
    margin-top: 25px;
}

.menu li a:hover {
    transition: 0.2s;
}

.menu li a:focus {
    color: #fff;
}

.menu li a:focus {
    color: #000;
}

#mwf-group-logo {
    height: 50px;
    width: 245px;
}

.topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
}

.topbar-responsive .menu li:last-of-type {
    margin-right: 0;
}

.topbar-responsive .menu a {
    color: #fefefe !important;
    transition: color 0.15s ease-in !important;
}

.main-content {
    margin-top: -180px;
}

#sec2>section>h4 {
    border-bottom: 1px solid #F15922 !important;
}

#mag1 {
    margin-top: 20px;
}

#mag6 {
    padding-bottom: 5em !important;
}

#mag19 {
    padding-bottom: 10em !important;
}

.about-page-para {
    padding: 15px 0;
}

#mag5>p:nth-child(2) {
    padding-bottom: 10px;
}

#footer-span {
    color: #fff;
    font-weight: 400;
}

p {
    font-weight: 300;
}

.features {
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 50px;
}

.features h5 {
    margin-bottom: 0;
}

.orbit-caption {
    font-size: 24px;
}

.fig-caption {
    color: #F15922;
    font-weight: 700;
}

div.expanded:nth-child(7) {
    padding-bottom: 50px;
}

.fa-angle-right:hover {
    color: #fff !important;
}

div.row:nth-child(4) {
    padding: 0 !important;
}

.orbit-bullets button.is-active {
    background-color: #F15922 !important;
}

#mid-section {
    font-family: 'Raleway', sans-serif;
    padding-right: 0;
    padding-left: 0;
    color: #fff;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 18px !important;
}

.menu>li>a i {
    vertical-align: baseline !important;
    margin-right: 0.35rem !important;
}

#mid-section-top hr {
    width: 55px;
}

#mid-section-top {
    position: absolute;
    z-index: 25;
    bottom: 0;
}


}
.menu-toggle {
    display: none;
    font-size: 12px;
}
.menu-text-horizontal:hover .menu-toggle {
    display: inline-block;
    padding-left: 5px;
}
.features {
    max-width: 1800px !important;
    text-align: center;
}
.features hr {
    width: 20%;
    margin: 1rem auto;
}
#mid-section-top hr {
    border-bottom: 1px solid #fff !important;
}
.features .round-icon {
    background-color: #F15922;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    font-size: 3rem;
    margin-bottom: 10px;
}
.features .round-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.contact-panel-button {
    background: #F15922!important;
    color: #fff;
    width: auto;
    padding: 0rem 2.25rem;
    text-align: center;
    position: absolute;
    top: -30px;
    right: 20px;
    transition: background 0.25s ease-in-out;
}
.contact-panel .is-active .contact-panel-button {
    background-color: #0a0a0a!important;
}
.contact-panel-button.secondary {
    background: #F15922!important;
    color: #fefefe!important;
}
.contact-panel.secondary {
    bottom: -370px;
}
.contact-panel-button:after {
    font-family: FontAwesome;
    content: "\f106";
    margin-left: 5px;
}
.contact-panel-button:hover {
    background: #242424;
    color: #f0f0f0;
}
.is-active .contact-panel-button:after {
    font-family: FontAwesome;
    content: "\f107";
}
.contact-panel {
    padding: 1rem;
    z-index: 1;
    background: #0a0a0a;
    width: 350px;
    height: 370px;
    position: fixed;
    bottom: -370px;
    right: 20px;
    transition: bottom 0.5s ease-in-out;
    font-size: 20px;
}
.contact-panel.is-active>a {
    background-color: #0a0a0a!important;
    color: #fff!important;
}
a.contact-panel-button:active {
    background-color: #0a0a0a;
}
.contact-panel label {
    color: #fefefe;
    width: 100%;
}
.contact-panel input[type="email"],
.contact-panel input[type="text"],
.contact-panel textarea {
    background: #303030;
    border: #0a0a0a;
    transition: background 0.3s ease-in-out;
}
.contact-panel input[type="email"]:focus,
.contact-panel input[type="text"]:focus,
.contact-panel textarea:focus {
    background: #fefefe;
}
.contact-panel .contact-panel-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-panel .submit-button {
    margin-bottom: 0;
}
.contact-panel .cancel-button {
    margin-bottom: 0;
    padding: 0.75rem 1rem;
    color: #fefefe;
    transition: background 0.25s ease-in-out;
}
.contact-panel .cancel-button:hover {
    background: #242424;
    color: #f0f0f0;
}
.contact-panel.is-active {
    bottom: 0;
    background-color: #0a0a0a;
}
.contact-panel-actions button {
    font-size: 16px;
}
.is-submenu-item {
    background-color: #F15922;
}
.is-dropdown-submenu {
    border: 1px solid #F15922 !important;
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #F15922;
    height: 1px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
    left: 15px;
    right: 15px;
}
.hvr-underline-from-center-2:active:before,
.hvr-underline-from-center-2:focus:before,
.hvr-underline-from-center-2:hover:before {
    left: 15px;
    right: 15px;
}
.hvr-underline-from-center-2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center-2:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 10px;
    background: #F15922;
    height: 1.0px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.showDesktop {
    height: 70px;
    padding: 10px 10px 10px 20px;
    width: 280px;
}
.footer-logo {
    height: 60px;
    padding: 10px;
    margin-top: -10px;
}
.hideDesktop {
    height: 100px;
    padding: 10px;
}
div.expanded:nth-child(5) {
    padding-bottom: 20px;
}
.menu-text {
    padding: 0 !important;
}
#menu-text-home {
    margin-top: 20px !important;
}
.button {
    border-radius: 3px !important;
    background-color: #F15922 !important;
}
.hideDesktop {
    display: none;
}
.menu-text-horizontal {
    color: #fff;
    font-weight: bold;
}
.is-dropdown-submenu-parent:hover {
    background-color: #F15922;
}
.is-dropdown-submenu-parent:hover>a {
    color: #fff;
    font-weight: 500;
}
.footer {
    background-color: #000;
    text-align: center;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
.footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem;
}
.footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0;
}
.footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
    padding: 15px !important;
}
.footer .links a::after {
    padding: 0 0.4rem 0 0.8rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 8px;
}
.footer .links a:last-child::after {
    padding: 0 0.4rem 0 0.8rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

/* New ABOUT slider styles */
#rev_slider_486_1_wrapper.about {
    height: 250px!important;
}
#rev_slider_486_1.about {
    max-height: 250px!important;
}
.hide-for-mobile {
    margin-top: -200px!important;
}

/* New Services slider styles */
#rev_slider_486_1_wrapper.services,
#rev_slider_486_1_wrapper.ourteam,
#rev_slider_486_1_wrapper.open-pos {
    height: 250px!important;
}
#rev_slider_486_1.services,
#rev_slider_486_1_wrapper.ourteam,
#rev_slider_486_1_wrapper.open-pos {
    max-height: 250px!important;
}

/* Mobile Break Point */
@media screen and (max-width: 39.9375em) {
    .hide-for-small-only {
        display: none !important;
    }

    .marketing-site-three-up .columns {
        min-height: 160px;
    }

    #rev_slider_486_1_wrapper.about,
    #rev_slider_486_1_wrapper.open-pos,
    #rev_slider_486_1_wrapper.ourteam,
    #rev_slider_486_1_wrapper.services {
        height: inherit!important;
    }

    .feature-desc {
        font-size: 14px!important;
    }

    .hide-for-mobile {
        display: none;
    }

    .hide-for-large {
        display: block;
        margin-bottom: 20px;
    }

    i.fa.fa-cart-arrow-down,
    i.fa.fa-briefcase,
    i.fa.fa-cloud,
    i.fa.fa-code,
    i.fa.fa-bar-chart {
        margin: 0 auto;
    }

    .feature-title {
        margin: 5px 0px 10px 0px;
        text-align: center;
        font-size: inherit !important;
        display: inherit!important;
    }

    .product-feature-section-feature .feature-desc {
        text-align: center;
    }

    .sticky-container {
        display: block;
    }

    .service-page-para {
        padding: 0 !important;
    }

    .contact-panel {
        width: 100%;
        right: 0;
    }

    .contact-panel-button {
        max-width: 200px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.7;
        margin-top: -4px;
    }

    .top-bar-title #mwf-group-logo {
        width: 204px;
        height: 41px;
    }

    .footer-logo {
        height: 60px;
        padding: 10px;
        margin-top: -10px;
    }

    span.fi-download.fa.fa-line-chart,
    span.fi-download.fa.fa-shield,
    span.fi-graph-bar.fa.fa-bar-chart,
    span.fi-graph-bar.fa.fa-truck,
    span.fi-widget.fa.fa-briefcase,
    span.fi-widget.fa.fa-desktop {
        font-size: 35px;
    }

    .round-icon {
        height: 75px !important;
        width: 75px !important;
    }

    .features .columns {
        margin-bottom: 0;
    }

    h1#mid-section {
        font-size: 32px;
    }

    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
        padding-top: 0;
    }

    .topbar-responsive .menu a {
        padding: 0.875rem 0 !important;
    }

    .tp-caption .Newspaper-Button .rev-btn .rs-hover-ready {
        display: none!important;
    }

    .menu.simple li {
        display: block !important;
    }

    .topbar-responsive .menu .topbar-responsive-button {
        width: 100%;
        margin: 0.875rem 0;
    }

    .menu li a {
        margin-top: 0;
    }

    .topbar-responsive {
        padding: 0.75rem !important;
    }

    .topbar-responsive .top-bar-title {
        position: relative;
        width: 100%;
    }

    .topbar-responsive .top-bar-title span {
        padding-top: 7px !important;
        position: absolute;
        right: 0;
        border: 1px solid #fefefe;
        border-radius: 5px;
        padding: 0.1rem 0.45rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .topbar-responsive .top-bar-title span .menu-icon {
        margin-bottom: 4px;
    }

    #hide-mobile {
        display: none;
    }

    .topbar-responsive-links {
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        width: 100%;
        -webkit-animation: fadeIn 1s ease-in;
        animation: fadeIn 1s ease-in;
    }

    #mag3 .service-page-para {
        padding-bottom: 40px!important;
    }

    #mid-section {
        font-size: 32px!important;
    }

    .main-content {
        margin-top: 0;
    }

    .footer-service {
        position: inherit;
    }

    .footer-3 {
        position: inherit!important;
        width: inherit!important;
    }

    .footer-open {
        position: inherit!important;
        width: inherit!important;
    }

    .medium-horizontal {
        text-align: center;
        padding-top: 10px;
    }

    .medium-horizontal>li {
        border-top: 1px solid #333;
    }

    .medium-horizontal>li:last-of-type>a {
        padding-bottom: 5px!important;
    }

    .menu.simple li {
        margin-right: 0!important;
    }

    #mag6 {
        padding-bottom: 2em!important;
    }

    .open {
        margin-top: 0!important;
    }

    .marketing-site-three-up-headline {
        margin-top: 10px;
    }
}

/* Ipad Responsive landscape */
@media (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) {
    .features {
        margin-top: 60px!important;
    }
}

/* Ipad Responsive portrait */
@media (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .expanded>.large-2 {
        width: 33.33333%!important;
    }

    .features h5 {
        margin-bottom: 75px!important;
    }

    .features {
        margin-top: 145px!important;
    }
}

/* Retina Styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    .footer-3 {
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
    }
}



@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
only screen and ( min--moz-device-pixel-ratio: 2) and (min-width: 1200px),
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1200px),
only screen and ( min-resolution: 192dpi) and (min-width: 1200px),
only screen and ( min-resolution: 2dppx) and (min-width: 1200px) {
    .expanded.features {
        margin-top: 180px;
        max-width: 2000px!important;
    }
}

/* Tablet Break Point */
@media only screen and (max-width: 768px) {
    .marketing-site-three-up-title {
        font-size: 0.9rem;
    }

    .marketing-site-three-up-desc {
        font-size: 0.7rem;
    }

    .hideDesktop {
        display: block !important;
        margin: 0 auto;
    }

    .top-bar .top-bar-left {
        width: 100% !important;
    }

    .showDesktop {
        display: none;
    }

    #menu-text-home {
        padding-left: 54px;
    }

    a.menu-text.horizontal {
        margin-top: 0 !important;
    }

    li.is-submenu-item:nth-child(2) {
        margin-top: 0 !important;
    }

    .features {
        margin: 55px 0px 0px 0px!important;
    }

    .features h5 {
        font-size: 1rem;
        margin-bottom: 55px;
    }

    .hide-for-mobile {
        margin-top: -100px!important;
    }

    #rev_slider_486_1_wrapper.services,
    #rev_slider_486_1_wrapper.ourteam,
    #rev_slider_486_1_wrapper.open-pos {
        height: inherit!important;
    }
}

/* Tablet Break Point */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hide-for-large {
        display: none;
    }

    .features {
        margin: 60px 0px 0px 0px!important;
    }

    .features h5 {
        margin-bottom: 55px;
        font-size: 1rem;
    }

    div.tp-parallax-wrap:nth-child(1) {
        top: 250px!important;
    }

    .feature-title {
        display: inline;
    }

    #mag3 .service-page-para {
        padding-bottom: 40px!important;
    }

    .marketing-site-three-up {
        padding: 3rem 0!important;
    }

    .footer-service {
        position: inherit;
    }

    .main-content {
        margin-top: -140px;
    }

    .footer-3 {
        position: inherit!important;
        width: inherit!important;
    }

    #hide-mobile {
        display: none;
    }

    .services-main .medium-9 {
        width: 100%;
    }

    #sec2 {
        margin-top: 20px;
    }

    #mag6 {
        padding-bottom: 3em!important;
    }

    .open {}
}

/* Tablet Orientation Landscape Break Point */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .marketing-site-three-up .columns {
        min-height: 227px!important;
    }

    .showDesktop {
        padding: 10px;
    }

    .showDesktop {
        height: 85px;
    }

    .footer {
        position: inherit!important;
        width: inherit!important;
    }

    .footer-3 {
        position: inherit!important;
        width: inherit!important;
    }

    .features {
        margin: 70px 0px 0px 0px!important;
    }

    .features h5 {
        font-size: 1rem;
    }

    .marketing-site-three-up-title {
        font-size: 23px;
    }

    .hide-for-mobile {
        margin-top: -120px!important;
    }

    #rev_slider_486_1_wrapper.services,
    #rev_slider_486_1_wrapper.ourteam,
    #rev_slider_486_1_wrapper.open-pos {
        height: inherit!important;
    }

    .footer-service {
        position: inherit;
    }

    .main-content {
        margin-top: -160px;
    }

    .footer-open {
        position: inherit!important;
        width: inherit!important;
    }
}

/* Mobile Break Point */
@media only screen and (max-width: 480px) {
    .footer {
        padding: 1.0rem 0rem 2.2rem 0rem;
    }

    .showDesktop {
        display: block;
        height: inherit;
        padding: 10px;
    }

    .hideDesktop {
        display: none !important;
    }

    .dropdown>li:nth-child(5) {
        display: none;
    }

    .dropdown>li:nth-child(4) {
        display: none;
    }

    .dropdown>li:nth-child(6) {
        display: none;
    }

    .dropdown>li:nth-child(7) {
        display: none;
    }

    .dropdown>li:nth-child(8) {
        display: none;
    }

    #menu-text-home {
        padding-left: 0;
    }

    .is-dropdown-submenu-parent>a:nth-child(1) {
        margin-right: 0;
    }

    .is-dropdown-submenu-parent {
        z-index: 11;
    }

    .dropdown>li:nth-child(3) {
        padding: 5px;
    }

    .menu-icon {
        display: inherit !important;
    }
}

/* Tablet Break Point */
@media screen and (min-width:768px) {
    .footer-2 {
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
